body{
    background-color: rgb(0, 0, 34);
    color:rgb(173, 255, 173);
    left: 200px;
}

h1{
    font-size: 36px;
    color: greenyellow;
    text-align: center;
}

h2{
    color:yellow;
    text-decoration: underline;
    font-style: italic;
    font-weight: bold;
}

p{
    font-size: 20px;
    background-color: navy;
    color:white;
}

#pinksection{
    color: pink;
    padding: 10px;
    border-radius: 8px;
    background-color: darkorchid;
}

.pretty{
    color: orange;
    font-style: italic;
}

.header{
    z-index: 10;
    position: fixed;
    left: 25px;
    right: 25px;
    background-color: black;
    border: 2px solid white;
}

.common{
    background-color: rgba(128, 128, 128, 0.8);
    border: 2px solid white;
    position: absolute;
}
/* this is a comment */

.left{
    top: 150px;
    left: 15px;
    width: 150px;
    bottom: 40px
}

.main{
    top: 115px;
    left: 200px;
    right: 140px;
    bottom: 40px;
}

.right {
    top: 155px;
    right: 25px;
    width: 100px;
    height: 500px;
}

.footer {
    bottom: 15px;
    height:110px;
    left: 15px;
    right:25px;
    position: fixed;
    background-color: black;
    border: 2px solid white;
    z-index: 99;
}

